* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(34deg, pink 50%, aqua 50%) no-repeat;
    background-size: 100vw 100vh;
}

.heading {
    color: white;
    font-size: xx-large;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    width: 60vmin;
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.gameContainer .box {
    width: 18vmin;
    height: 18vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 10vmin;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 3vmin;
    text-align: center;
    margin-top: 50px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .3s ease;
}

#reset:hover {
    background-color: aqua;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg .realMsg{
    font-size: 5vmin;
    margin-top: 20px;
    display: none;
}

@media screen and (max-width: 680px) {
    .box{
        width: 18vmin;
        height: 18vmin;
    }
    .heading{
        font-size: x-large;
    }

}
@media screen and (max-height: 700px) {
    .gameContainer {
        width: 65vmin;
        height: 55vmin;
        gap:15px;
        margin-top: 25px;
    }
}







